*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}
h2{
    text-align: center;
}
.amount p{
    font-size: 1.1rem;
}
.container{
    background-color: burlywood;
    padding: 2rem;
    border-radius: 2rem;
    min-height: 45vh;
    min-width: 50vh;
}
form{
    margin: 1.9rem 0 1rem 0;
}
form input,select,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.45rem;
}
form input{
    border: 1px solid gray;
    font-size: 1rem;
    height: 2rem;
    padding: 0.35rem;
}
form button{
    height:2.5rem;
    background-color: rgb(213, 213, 199);
}
form button:hover{
    cursor: pointer;
}
form button:active{
    opacity: 0.75;
    border: 2px solid black;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 2rem;
}
.dropdown p{
    margin-left: 2.35rem;
    font-size: 1.1rem;
}
 .select-container img{
    max-width: 2.5rem;
 }
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 0.35rem;
    padding: 0.35rem;
}
.select-container select{
    font-size: 1rem;
}
.msg{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.1rem;
}
button{
    margin-top: 1rem;
    text-align: center;
    font-size: 1.1rem;
}